.projects {
  margin-top: 0;
}

.project-heading{
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
  font-size: 6rem;
	font-weight: 400;
  letter-spacing: -0.06em;
  font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    rgba(8, 42, 123, 0.526) 30%,
    rgb(255 255 255 / 0%) 76%
  ); 
  background-clip: text;
  color: transparent;
}

.project-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  margin-left: 18%;
  margin-top: 0;
}

.project-pic {
  width: 400px;
  height: 300px;
  margin: 10px;
}
 
.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;

  border: rgb(209, 208, 208) 1px solid;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.project-title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.project-details {
  margin-bottom: 20px;
  font-size: 16px;
  color: #002e6f;
}

.project-tech {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  margin-bottom: 35px;
  color: #002e6f;
}

.project-tech .logo {
  margin-right: 20px;
  border: 1px dashed rgba(255, 37, 37, 0.312);
  border-radius: 10px;
  padding: 7px;
}

.logo:hover{
  transform: scale(1.1);
}

.project-link {
  text-align: left;
  text-decoration: none;
  color: #002e6f;
  font-weight: 600;
}

