.experience{
    background-image: url(https://wpthemebooster.com/demo/themeforest/html/kimono/assets/img/more/texture-3.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-color: rgba(165, 42, 42, 0.63); */
    position: relative;
    padding: 100px 0 50px 0;
    margin-top: 30px;
}

.experience .container{
    max-width: 1300px;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 6rem;
	font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: -0.06em;
    position: absolute;
    top: -2%;
    left: 30%;
    font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
    background: linear-gradient(
      to bottom,
      rgba(8, 42, 123, 0.526) 30%,
      rgb(255 255 255 / 0%) 76%
    );
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent;
}

.container .cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 7%;
}

.exp-card-list {
  display: grid;
  grid-template-columns: repeat(3, 380px); 
  grid-template-rows: auto;
  gap: 6px;
}

.details{
    width: 90%;
}

.details .display{
    background: transparent;
    opacity: 0.9;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    padding: 30px;
    height: 80%;
}

.details .display.active{
    background-color: #61c4bf63;
}

.details .display.active:hover,
.details .display.active:active{
    background-color: rgba(166, 164, 164, 0.06);
    border: 1px solid gray;
}

.display .inner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon h2{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
}

.icon h2:after{
    content: '';
    width: 80%;
    height: 1.5px;
    display: inline-block;
    background-color: rgba(207, 18, 18, 0.312);
    transition: all 0.5s ease-in-out;
}

.details .display:hover h1:after,
.details .display:active h1:after{
  width: 100%;
  background-color: #43ffec;
}

.inner .text{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    color: #002e6f;
}

.text .card-count{
    font-family: "DM Sans", ui-sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-align: right;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(207, 18, 18, 0.312);
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 15px;
}